body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.contenido{
  height: 470px;
  background: url(../img/dummy/bg1.jpg) no-repeat top center;
}

nav{
  position: fixed;
  width: 100%;
}

/* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: white;
font-size: 13px;
letter-spacing: 1px;
color: #009DE0;
text-transform: uppercase;
font-weight: 700;
}

a {
    color: black;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#bconfig:hover{
  background-color: #008CBA;
  color: white;
}

#bconfig{  
  width: 20%;
}

#bconfig2:hover{
  background-color: #008CBA;
  color: white;
}

#bconfig2{
  width: 20%;
  padding: 10px 35px;
  border: 1px solid #008CBA;
  border-radius: 8px;
}

#Cita h1{
  text-align: left;
}

#Cita .col-75{
  text-align: right;
  padding: 10px 10px;
}

#config{
  width: 40%;
}

a:hover,
a:focus {
	color: #fff;
    text-decoration: none;
}

a.light {
	color: #009DE0;
}

a.light:hover {
	color: #2D3D44;
	
}

.TP a{
background-color: none;
float: right;
outline: none;
cursor: pointer;
padding: 5px 35px;
transition: 0.3s;
font-size: 17px;
color: black;
font-weight: bold; 
text-decoration: none;
}

.TP a:hover{
  color: #0b4c72;
}

.TP {
    overflow: hidden;
    background-color: #f1f1f1;
    font-size: 13px;
    letter-spacing: 1px;
    color: #009DE0;
    text-transform: uppercase;
    font-weight: 700;
    background: transparent;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: right;
border: none;
outline: none;
cursor: pointer;
padding: 22px 35px;
transition: 0.3s;
font-size: 17px;
color: black;
font-weight: bold; 
}

#d1{
    float: left;
    width: 50%;
    height: 100%;
}

#boton{
  width: 100%;
  text-align: center;
  margin-top: 350px;
}

#d1T{ 
    float: left;
    width: 50%;
    height: 100%;
}

#d2T{
    float: left;
    width: 50%;
    height: 100%;
}

#ajusteIcon1{
    margin-top: 20%;
    text-align: center;
}

#ajusteIconC{
  margin-top: 10%;
  text-align: center;
}

#ajusteIcon{
    margin-top: 10%;
    text-align: center;
}

.ajusteTit{
    text-align: center;
}

#d2{
    float: right;
    width: 50%;
    height: 100%;
    margin-top: 5%;
}



.vozg{
  padding: 15px;
  text-align: center;
  width: 100%;
}

.vozguarda{
  font-size: 20px;
  background: lightblue;
  margin: 10px;
  padding: 10px;
}

#texto{
  padding: 50px;
  margin: 40px;
  box-shadow: 0px 0px 12px #ccc;
  background-color: #fff;
  font-size: 30px;
}

#nombrep{
  padding: 50px;
  margin: 40px;
  box-shadow: 0px 0px 12px #ccc;
  background-color: #fff;
  font-size: 30px;
}


.reporteg{
  padding: 15px;
  text-align: center;
  width: 100%;
}

.reporteguarda{
  font-size: 20px;
  background: lightblue;
  margin: 10px;
  padding: 10px;
}


#contenedorpdf{
  text-align: center;
  align-items: center;
}

#d2C{
  float: right;
  width: 50%;
  height: 100%;
}

#titulo{
    font-weight: bold;
    text-align: left; 
}

#TablaP{
    text-align: center;
}

#TablaM{
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 3px solid black;
}

.col-75P table{
  border-collapse: inherit;
  width: 100%;
  border: transparent;
}

.col-75P td, tr{
  text-align: left;
  border: transparent;
}

.col-75P th, tr{
  text-align: left;
  border: transparent;
}

th{
    color: #009DE0;
}

#baja{
  background-color: #f44336;
  color: white;
  font-size: 6px;
  border-radius: 50%;
}

#baja:hover{
  border: 2px solid #f44336;
  background-color: white;
  color: black;
}

#CP{
  background-color: #f44336;
  color: white;
  font-size: 12px;
  border-radius: 8px;
}

#CP:hover{
  border: 2px solid #f44336;
  background-color: white;
  color: black;
}


#CH{
  background-color: #1c923f;
  color: white;
  font-size: 12px;
  border-radius: 8px;
}

#CH:hover{
  border: 2px solid #1c923f;
  background-color: white;
  color: black;
}

#desc{
  background-color: rgba(87, 22, 22, 0.514);
  color: white;
  font-size: 12px;
  border-radius: 8px;
}
#desc:hover{
  border: 2px solid rgba(87, 22, 22, 0.514);
  background-color: white;
  color: black;
}
 
#alta{
  background-color: #4CAF50;
  color: white;
  font-size: 6px;
  border-radius: 50%;
}
#alta:hover{
  border: 2px solid #4CAF50;
  background-color: white;
  color: black;
}

th, td {
    text-align: center;
    padding: 1px;
    border: 1px solid black;
}

@media screen and (max-width: 1083px) {
    .topnav button:not(:first-child) {display: none;}
    .topnav button.icon {
      float: right;
      display: block;
    }
}
  
  @media screen and (max-width: 1083px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      text-align: right;
    }
    .topnav.responsive button {
      float: none;
      width: 100%;
      display: block;
      text-align: center;
    }
 }

 .topnav .icon {
  display: none;
}


#opciones{
    color: blue;
}

.icon-co {
	color: #009DE0;
}

.fa-edit:hover{
    color:white;
}

.fa-user-md:hover,
.fa-user-injured:hover,
.fa-user-tie:hover,
.fa-file-medical:hover,
.fa-file-import:hover,
.fa-clipboard-list:hover{
    color: #2D3D44;
}

.fa-user-plus{
    color:  #009DE0;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ccc;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ddd;
color: #009DE0;
}

.top-area {
	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 100%;
	/*color: #fff;*/
	background: #009DE0;
	padding-top: 5px;
  padding-bottom: 10px;
}

.top-area a{
  text-decoration: none;
  font-weight: bold; 
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border-top: none;

}

.ajusteTit button{
  border: 1px solid #009DE0;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px; 
}
  
input[type=text], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #009DE0;
    font-weight: bold; 
  }
  
  input[type=submit] {
    background-color: #0b4c72;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    width: 50%;
  }

  h1{
      text-align: center;
  }
  
  input[type=submit]:hover {
    background-color: #9cc7f0;
  }
  
  .contenedor {
    border-radius: 3px;
    padding: 15px;
  }

  .col-25 {
    float: top;
    margin-top: 6px;
    margin-left: 10px;
    text-align: center;
  }
  
  .col-75 {
    float: center;
    margin-top: 4px;
    text-align: center;
  }

  .col-75P {
    float: center;
    margin-top: 4px;
    text-align: left;
  }
  .col-75P label{
    
    color: #0b4c72;
  }

  #B1{
      float: left;
      width: 50%;
      text-align: center;
  }

  #H{
    width: 10%;
    padding: 4px 2px;
    border: 1px solid #ccc;
    border-radius: 4px; 
  }

  #B2{
      float: right;
      width: 50%;
      text-align: center;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
